.main {
  /* border: 2px solid red; */
  text-align: center;
}

h1 {
  font-size: 100%;
}

.person-card {
  width: 40%;
  margin: 1rem auto;
  box-shadow: 05px 05px 10px 0px lightskyblue;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}
img {
  border-radius: 50%;
  margin: 10px;
  width: 20%;
  height: 100%;
  /* border: 2px solid red; */
}
.person-text p {
  text-align: center;
}

button {
  padding: 1rem 1.5rem;
  background-color: blueviolet;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

button:active {
  transform: scale(0.9);
}

button:hover {
  background-color: blanchedalmond;
  color: purple;
}

@media screen and (max-width: 768px) {
  .person-card {
    width: 90%;
    margin: 1rem auto;
    box-shadow: 05px 05px 10px 0px lightskyblue;
    background-color: lightgray;
    border-radius: 10px;
  }
  img {
    border-radius: 50%;
    margin: 10px;
    width: 40%;
    /* border: 2px solid red; */
  }
  button {
    padding: 1rem 1.5rem;
    background-color: blueviolet;
    margin: 1rem;
    border: none;
    border-radius: 10px;
  }
}
